body {
  font-family: Arial;
  font-size: 10px; }

.container {
  margin: 0 auto;
  padding: 20px; }

h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center; }

.invalid {
  color: #f00; }

#bestlocationscontainer {
  float: left; }

#mouselistcontainer {
  float: left; }

#mouselist table,
#bestlocations table {
  border-collapse: separate;
  border-spacing: 0; }

#mouselist td,
#bestlocations td {
  font-size: 11px;
  padding: 4px 2px;
  text-align: left;
  vertical-align: top; }

#bestlocations tr:nth-child(even) {
  background: #beb; }

#bestlocations tr:nth-child(odd) {
  background: #e4f8e4; }
