$table-bg-color: #beb;
$table-bg-color-light: lighten($table-bg-color, 10);
$invalid-color: #f00;

body {
  font-family: Arial;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  padding: 20px;
}


h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

.invalid {
  color: $invalid-color;
}

#bestlocationscontainer {
  float: left;
}

#mouselistcontainer {
  float: left;
}

#mouselist,
#bestlocations {
  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  td {
    font-size: 11px;
    padding: 4px 2px;
    text-align: left;
    vertical-align: top;
  }
}

#bestlocations {
  tr {
    &:nth-child(even) {
      background: $table-bg-color;
    }

    &:nth-child(odd) {
      background: $table-bg-color-light;
    }
  }
}
