$table-bg-color: #beb;
$table-bg-color-light: lighten($table-bg-color, 10);
$table-header-bg-color: darken($table-bg-color, 10);
$unknown-bg-color: #fdd;
$background-color: #fff;
$highlight-bg-color: #ff9;

body {
  background: $background-color;
  font-family: sans-serif;
  font-size: 12px;
}

.header {
  width: 250px;

  p {
    padding: 2px;
  }

  textarea {
    height: 400px;
    width: 250px;
  }
}

h1 {
  font-size: 24px;
}

.highlight {
  background: $highlight-bg-color;
}

#input {
  float: left;
}

#mousecount {
  text-align: right;
}

#mouselistcontainer,
#bestlocationscontainer {
  display: none;
}

#bestlocationscontainer {
  float: left;
  padding-left: 2em;
}

#mouselistcontainer {
  clear: both;
  padding-top: 2ex;
}

#mouselist,
#bestlocations {
  p {
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  th {
    background: $table-header-bg-color;
    border: 1px solid white;
    font-size: 11px;
    padding: 4px 2px;
  }

  td {
    border: 1px solid white;
    font-size: 11px;
    padding: 4px 2px;
    text-align: left;
    vertical-align: top;
  }
}

#bestlocations {
  tr {
    &:nth-child(even) {
      background: $table-bg-color;
    }

    &:nth-child(odd) {
      background: $table-bg-color-light;
    }
  }
}

#mouselist {
  td {
    background: $table-bg-color-light;
    width: 8%;

    &.mousename {
      background: $table-bg-color;
      font-weight: bold;
    }

    &.text {
      border-bottom: 0;
    }

    &.rate {
      border-top: 0;
    }

    &.padding {
      background: $background-color;
    }
  }
}

#unknownmicecontainer {
  display: none;
}

#unknownmice {
  background: $unknown-bg-color;
  padding: 3px;
}
