$table-bg-color: #beb;
$table-bg-color-light: lighten($table-bg-color, 10);
$table-header-bg-color: darken($table-bg-color, 10);
$unknown-bg-color: #fdd;

body {
  font-family: Arial;
  font-size: 12px;
}

.header {
  width: 250px;

  textarea {
    width: 250px;
    height: 400px;
  }
}


h1 {
  font-size: 24px;
}

#input {
  float: left;
}

#mouselistcontainer,
#bestlocationscontainer {
  display: none;
}

#bestlocationscontainer {
  float: left;
  padding-left: 2em;
}

#mouselistcontainer {
  clear: both;
  padding-top: 2ex;
}

#mouselist,
#bestlocations {
  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  th {
    background: $table-header-bg-color;
    border: 1px solid white;
    font-size: 11px;
    padding: 4px 2px;
  }

  td {
    border: 1px solid white;
    font-size: 11px;
    padding: 4px 2px;
    text-align: left;
    vertical-align: top;
  }
}

#bestlocations {
  tr {
    &:nth-child(even) {
      background: $table-bg-color;
    }

    &:nth-child(odd) {
      background: $table-bg-color-light;
    }
  }
}

#mouselist {
  td {
    background: $table-bg-color-light;
    width: 8%;

    &.mousename {
      background: $table-bg-color;
      font-weight: bold;
    }
  }
}

#unknownmicecontainer {
  display: none;
}

#unknownmice {
  background: $unknown-bg-color;
  padding: 3px;
}
